<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <title>[[template "title" .]]</title>
    <!--让IE使用最新的渲染模式，支持CSS3-->
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">

    [[template "meta" .]]

    <link rel="shortcut icon" href="[[.config.Data.opt.basic.site.favicon]]">

    <link href="/assets/css/icons.min.css?v=[[.inis.version]]" rel="stylesheet" type="text/css">
    <link href="/assets/css/app-modern.min.css?v=[[.inis.version]]" rel="stylesheet" type="text/css">
    <link href="/assets/css/inis.media.css?v=[[.inis.version]]" rel="stylesheet" type="text/css">

    <script src="/assets/libs/vue3.js?v=[[.inis.version]]"></script>
    <script src="/assets/libs/helper.js?v=[[.inis.version]]"></script>
    <script src="/assets/libs/lottie/index.js?v=[[.inis.version]]"></script>

    <!-- head - link -->
    [[template "head" .]]
    <!-- head - link -->

    <script>window.INIS = [[.inis]]</script>

    <!-- 自定义HTML - 开始 -->
    [[str2html .config.Data.opt.developer.code.html.head]]
    <!-- 自定义HTML - 结束 -->
</head>

<body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false}'>

    <!-- 顶部导航栏 - 开始 -->
    [[template "layout/nav.html"]]
    <!-- 顶部导航栏 - 结束 -->

    <div class="container-fluid">
        <div class="wrapper">
            <!-- 侧边栏 - 开始 -->
            [[template "index/layout/side.html"]]
            <!-- 侧边栏 - 开始 -->
            <div class="content-page">
                <div v-cloak id="app" class="content">
                    [[template "content" .]]
                </div>
                <!-- 侧边栏 - 开始 -->
                [[template "layout/footer.html" .]]
                <!-- 侧边栏 - 开始 -->
            </div>
        </div>
    </div>

    <div id="back-to-top" class="d-none">
        <button class="flex-center p-0" type="button">
            <i class="mdi mdi-arrow-up-bold-circle-outline font-24 text-info flex-center mdi-spin-hover"></i>
        </button>
    </div>

    <!-- 设置 - 开始 -->
    [[template "layout/setting.html"]]
    <!-- 设置 - 开始 -->

    <!-- 自定义HTML - 开始 -->
    [[str2html .config.Data.opt.developer.code.html.body]]
    <!-- 自定义HTML - 结束 -->

    <script src="/assets/js/vendor.min.js?v=[[.inis.version]]"></script>
    <script src="/assets/js/app.min.js?v=[[.inis.version]]"></script>
    <script src="/assets/js/layout/base.js?v=[[.inis.version]]"></script>
    <script src="/assets/js/layout/comm.js?v=[[.inis.version]]"></script>

    <!-- script - link -->
    [[template "script" .]]
    <!-- script - link -->
</body>
</html>
