<footer id="footer" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 font-12">
                <span class="badge item left bg-dark">© <script>document.write(new Date().getFullYear())</script> Copyright</span>
                <span class="badge item right bg-info">
                    <a href="[[.config.Data.opt.basic.site.copy.url]]" target="_blank">[[.config.Data.opt.basic.site.copy.code]]</a>
                </span>
                <span>
                    [[str2html .config.Data.opt.developer.footer.left]]
                </span>
            </div>
            <div class="col-md-6 font-12">
                <div class="text-md-end footer-links d-none d-md-block">
                    <span>
                        [[str2html .config.Data.opt.developer.footer.right]]
                    </span>
                    <span class="badge item left bg-dark">
                        <a href="//inis.cc/index/theme/id/1.html" target="_blank">Theme</a>
                    </span>
                    <span class="badge item right bg-warning">
                        <a href="//inis.cc" target="_blank">inis</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>